/*Start of Home blurb section Container */
.home-blurb-container {
  display: grid;
  justify-content: center;
  padding-top: 25px;
  grid-template-columns: 1fr 1fr;
}

.home-blurb-sign-up-form {
  display: grid;
  text-align: center;
}

.home-blurb-title {
  font-size: 42px;
}

.home-blurb-paragraph {
  color: #87ceeb;
  font-size: large;
  font-weight: 700;
}

.home-blurb-email-entry-box {
  margin-right: 15px;
  border-color: #87ceeb;
}

.home-blurb-submit-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.email {
  padding: 15px;
  border-radius: 0.5rem;
}

.home-img-class {
  width: 1000px;
}

@media screen and (max-width: 1450px) {
  .home-img-class {
    width: 600px;
  }
}
@media screen and (max-width: 945px) {
  .home-blurb-container {
    grid-template-columns: none;
    justify-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .home-img-class {
    margin-top: 25px;
  }
}
@media screen and (max-width: 600px) {
  .home-img-class {
    width: 450px;
  }
}
@media screen and (max-width: 375px) {
  .home-img-class {
    width: 370px;
  }
}
/*End of Home blurb section Container */
